@model IEnumerable<MSUi.Models.Note>

@{
    ViewData["Title"] = "Liste des Notes";
}

<h2>@ViewData["Title"]</h2>
<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>


                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id"asp-route-patId="@item.PatId">Supprimer</a>
                    <a asp-action="Update" asp-route-id="@item.Id">Modifier</a>
                    <a asp-action="Create" asp-route-id="@item.Id" asp-route-patId="@item.PatId">Créer une note</a>
                     <a href="@Url.Action("Index", "Note", new { patId=item.Id})">Lien vers les notes du patient</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Index", "Patient")" class="btn btn-primary">Retourner à la vue patient</a>
@*<a asp-action="Create" asp-route-id="id" asp-route-patId="PatId">Créer une note</a>*@
