@model IEnumerable<MSUi.Models.Patient>

@{
    ViewData["Title"] = "Liste des Patients";
    
}
@if (User.Identity.Name == "praticien")
{
    <p style=" color:grey">En tant @User.Identity.Name, vous avez accès à la liste des patients / au niveau de risque atteint / à la consultation et la création de note </p>
}
@if (User.Identity.Name == "organisateur")
{
     <p style=" color:grey">En tant @User.Identity.Name, vous avez accès à la liste des patients / vous pouvez créer un patient / accéder au détail et modifier les informations patient </p> 
}
<h2>@ViewData["Title"]</h2>
<br>
            

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Nom)
            </th>
            @if (User.IsInRole("praticien"))
            {
                <th class="orange">
                    @Html.DisplayNameFor(model => model.First().RiskLevel)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                   @if (User.IsInRole("praticien"))
                    {
                        <td  style=" color:red">
                            @Html.DisplayFor(modelItem => item.RiskLevel)
                        </td>
                    }
                    @if (User.IsInRole("organisateur"))
                    {
                        <td>
                            <a asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                    </td>
                    }
                    @if (User.IsInRole("praticien"))
                    {
                        <td>
                            
                            <a href="@Url.Action("Index", "Note", new { patId=item.Id})">accès aux notes du patient</a>
                        </td>
                    }
                </tr>
            }
            @if (User.IsInRole("organisateur"))
            {
            <a href="@Url.Action("Create", "Patient")" class="btn btn-primary">Créer un nouveau Patient</a>
            }

        }
    </tbody>
</table> 

