@model List<MSUi.Models.DiagnosticData>

<h2>Risque diabétique </h2>
<table>
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Trigger Count</th>
        <th>Risk Level</th>
    </tr>
    @foreach (var patient in Model)
    {
        <tr>
            <td>@patient.PatientName</td>
            <td>@patient.PatId</td>
            <td>@patient.Age</td>
            <td>@patient.Gender</td>
            <td>@patient.TriggerCount</td>
            <td>@patient.RiskLevel</td>
        </tr>
    }
</table> 